table tr td{
	text-align: left;
}
.profile-container{
	/*background: #44403eee;*/
	color:black;
	margin-top: 4%;
	padding-left:10%;
	padding-right: 10%;
}

.form-group label{
	margin-left:10%;
}
.form-group input{
	margin-left:10%;
	width: 70%;
}

.profile-img{
	width: 150px;
	height: 150px;
	margin-left: 50%;
	margin-right: 50%;
}

.profile-container button{
	margin: 5%;
}
.dateToggle {
	display: none;
}
ul.breadcrumb li{
	cursor: pointer;
}
ul.breadcrumb li:hover,ul.breadcrumb li.active{
	color: blue;
}
.dateSelected {
	background: #5cb85c !important;
}