.hero-container {
	color:white;
	justify-content: left;
    text-align: left;
}
.hero-container .glyphicon{
	font-size: 12px;
}
.hero-container .txt{
	font-size: 10px;
	padding-left:5px;
}
.hero-container .user{
	background-color: #263238;
	padding: 20px 0px 20px 10px;

}
.left-nav a{
	color: #fff;
	text-decoration: none;
}
.left-nav a:hover{
	text-decoration: none;
	color:#3269a5;
}
.hero-container .appointments{
	background-color: #37474F;
	padding-left: 10px;
	padding-top:40px;
	padding-bottom: 40px;
	height: -webkit-fill-available;

}

.span-block{
	display: block;
	padding-left: 15px !important;
}

.par {
	font-size: 14px;
	color:black;
}
.form-padding-left{
	padding-left:15px;
}
.form-padding-right{
	padding-right:15px;
}
.searchResults{
	padding:145px;
	text-align: center;
	background-color: #fff;
	box-shadow: -1px 0px 1px 0px #0000004f;
	margin-top:25px;

}
.doctor-card{
	color: black;
	padding-bottom: 30px;
    padding-top: 10px;
    border-bottom: 1px solid #96a0a5e3;
}
.doctor-card .apt-selector{
	width: 400px;
	margin-top: 15px;
	margin-bottom:20px;
}
.panel .panel-body{
	text-align: left;
	font-size: 12px;
}
.panel-body label{
	font-size: 12px !important;
	font-weight: normal !important;
}
.register-user{
	color: black;
}

.review-appointments ul li{
	list-style: none;
	display: block;
	margin-top: 20px;
}

.review-appointments ul li button{
	width: 200px;
}
.review-dashboard{
	margin-top: 50px;
	text-align: center;
	margin-right: 40px;
}

.practice-areas{
	padding:5px;
	border:1px solid green;
	border-radius: 15px;
}
.practice-areas-cancel{
	margin-left: 480px;
	font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
