

.myapp-container{
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
}

.myapp-container .panel-heading{
    text-align: left;
}

.myapp-container table{
	width:80%;
	margin-left: 10%;
	margin-right:10%;
}

.myapp-container table th{
	color:#2f6690;
	font-size: 18px;
	font-weight: bold;
	padding:5px;
	margin-left: 10px;
	margin-right:10px;
	text-align: center;
}

.myapp-container td{
	font-size: 18px;
	padding:10px;
	text-align: center;
}

.myapp-container tbody{
	padding:5px;
	border:solid 1px #d2d2d2;
	border-radius: 4px;

}

.myapp-container tr{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	border-bottom: solid 1px #d2d2d2;

}